<head>
    <title>Communication bw dirs (inject service)</title>
    <script src="angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body ng-app="myApp">

<banner-dir></banner-dir>

<input-dir></input-dir>

</body>